<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Forum App</title>
  </head>
  <body>
    <main>
      <header>
        <h1>Forum App</h1>
      </header>
      <section>
        <a href="/topics/new">Add New Topic</a>
        <% topics.forEach((topic) => { %>
          <div class="topics-container">
            <a href="/topics/<%= topic.id %>">
              <h2><%= topic.title %></h2>
            </a>
            <p><%= topic.content %></p>
            <p>LIKES: <%= topic.topic_votes%></p>
          </div>
            <form action="/topics/<%= topic.id %>/like?_method=PUT" method="POST">
              <input type="submit" value="LIKE">
            </form>
        <% }); %>
      </section>
    </main>

  </body>
</html>
