<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= topics.title %></title>
  </head>
  <body>
    <main>
      <div class="topics-container">
      <header>
        <h1><%= topics.title %></h1>
      </header>
      <section>
          <p><%= topics.content %></p>
          <p>LIKES: <%= topics.topic_votes%></p>
          <form action="<%= topics.id %>/edit" method="GET">
            <input type="submit" value="EDIT">
          </form>
          <form action="/topics/<%= topics.id %>/like?_method=PUT&show=true" method="POST">
            <input type="submit" value="LIKE">
          </form>
          <form action="/topics/<%= topics.id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE">
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
